.yellow-band {
  height: 12px;
  background-color: #E8BE02;
}

.footer-modification {
  height: 320px;
  background-color: #4F4D53;
}

.yellow-color {
  color: #E8BE02;
  margin-top: 5%;
}


h3 {
  color: white;
}

h4 {
  color: white;
}
