<div class="yellow-band"></div>
<div class="row footer-modification">
  <div class="offset-1 col-3">
    <h3 class="yellow-color">Team</h3>
    <h4>Lisa</h4>
    <h4>Danielle</h4>
    <h4>Brian</h4>
    <h4>Join us!</h4>
  </div>
  <div class="col-3">
    <h3  class="yellow-color">Learn More</h3>
    <h4>Manifesto</h4>
    <h4>Works</h4>
    <h4>Stories</h4>
  </div>
  <div class="col-3">
    <h3  class="yellow-color">Meet Us</h3>
    <h4>Studio</h4>
    <h4>Community</h4>
    <h4>Workshops</h4>
  </div>
  <div class="col-2">
    <h3  class="yellow-color">Contact</h3>
    <h4>Twitter</h4>
    <h4>Facebook</h4>
    <h4>Instagram</h4>
  </div>
</div>
