.yellow-color {
  color: #E8BE02;
}

.modification-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.modification-card {
  max-width: 286px;
  min-width: 286px;
  min-height: 180px;
  max-height: 180px;
}
